* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html body {
  font-family: sans-serif;
  background-image: linear-gradient(#000000a0, #000000d1),
    url(../image/bg-image.jpg);
  height: 900px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/* header section start */
header .navbar {
  width: 100%;
  padding: 1rem 3rem;
}
header .navbar .netflix-logo {
  width: 150px;
  align-items: flex-end;
}
header .navbar .netflix-logo svg {
  fill: #dd0202;
}
header .navbar .sign-in {
  position: relative;
}
header .navbar .sign-in .language-logo svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 12px);
  fill: #fff;
}
header .navbar .sign-in select {
  background-color: #000;
  color: #fff;
  padding: 0.3rem 2rem;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #fff;
}
header .navbar .sign-in select option {
  background-color: #fff;
  color: #000;
}
header .navbar .sign-in a {
  background-color: #af0303;
  color: #fff;
  padding: 0.7rem 1rem;
  margin-left: 1rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
}
/* header section end */

/* hero section start */
.hero {
  color: #fff;
  text-align: center;
}

.hero .hero-content {
  position: relative;
}
.hero .hero-content .unlimated-movie {
  position: absolute;
  transform: translate(300px, 300px);
}
.hero .hero-content .unlimated-movie h1 {
  font-size: 3.5rem;
  font-family: unset;
  font-weight: 800;
}
.hero .hero-content .unlimated-movie span {
  font-family: unset;
  margin: 1rem 0;    
  font-size: 1.25rem;
  font-weight: 600;
}

.hero .hero-content .unlimated-movie .get-started p{
    margin: 2rem 0 1rem 0;
    font-family: unset;
    font-size: 14px;
    font-weight: 700;
}
.hero .hero-content .unlimated-movie .get-started input{
    background-color: #00000094;
    font-size: 16px;
    padding: 1.5rem;
    padding-right: 200px;
    border: 1px solid black;
    border-color: #808080b3;
    border-radius: 3px;
}
.hero .hero-content .unlimated-movie .get-started a{
    background-color: red;
    color: #fff;
    font-size: 26px;
    padding: 1rem;
    border-radius: 3px;
}
.hero .hero-content .unlimated-movie .get-started a i{
    margin-left: 1rem;
}
/* hero section end */
